node_modules/
.next/
build/
dist/
out/
public/
package-lock.json
yarn.lock
pnpm-lock.yaml
next.config.mjs
tsconfig.json
src/env.d.ts
*.cjs
*.mjs
*.Dockerfile
*compose.*.yml
components/elements/auto-form/
components/elements/shadcn-ui/
/supabase/docker/
/drizzle/migrations/
/storybook-static/
